<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/student">All Portofolios</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form method="post" action="/user/search" class="navbar-form navbar-left">
        <div class="form-group">
          <input name="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <% if(req.user){ %>
        <li><a href="/student/<%= req.user.username %>" ><span class="label label-primary"><%= req.user.username %></span></a></li>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/student/addwork">Add Post</a></li>
      <% }else{ %>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
      <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-lg-12">
  <% if(success_msg && success_msg.length !== 0){ %>
    <div class="alert alert-success"><%= success_msg %></div>
  <% } %>

  <% if(error_msg && error_msg.length !== 0){ %>
  <% console.log(error_msg.length); %>
    <div class="alert alert-danger"><%= error_msg %></div>
  <% } %>

  <% if(error && error.length !== 0){ %>
    <div class="alert alert-danger"><%= error %></div>
  <% } %>

  <% if (req.message){ %>
  <div class="alert alert-danger" role="alert"><%= req.message %></div>
  <% } %>
</div>
