
<% if(portfolio) { %>
	<div class="page-header">
		<h1><%= portfolio.name %></h1>
	</div>
	<img src=<%= portfolio.photo %> >


	<h1 class="text-center">Links</h1>
	<div class="row">
		<% portfolio.links.forEach(function(link){%>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 up">
				<div class="word-card">
					<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
						<div class="thumbnail">
			 				<img src="/website3.png" >
			 			</div>
		 			</div>
					<div class="card-text">
						<a href="<%= link %>"><b><%= link %></b></a>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
	<br>

	<% if(req.user && req.user.username === portfolio.user){ %>
		<form method="post" action="/student/add_link">
			<div class="input-group input-group-md">
				<input type="hidden" name="portfolio_id" value="<%= portfolio.id %>">

				<div class="input-group input-group-md">
					<span class="input-group-addon">Link</span>
					<input name="link" type="text" class="form-control" placeholder="http://google.com">
					<div class="input-group-btn">
						<button type="submit" class="btn-primary btn-sm">Add Link</button>
					</div>
				</div>
			</div>
		</form>
	<% } %>

	<h1 class="text-center">Screenshots</h1>
	<div class="row">
		<% portfolio.screenshots.forEach(function(photo){%>
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<div class="thumbnail">
		 				<img src=<%= photo %> >
		 			</div>
		 		</div>
		<% }); %>
	</div>

	<div>
		<% if(req.user && req.user.username === portfolio.user){ %>
			<form method="post" action="/student/add_screenshot" encType="multipart/form-data">
				<label class="btn btn-default btn-file">
				    Choose File <input type="file" name="photo" style="display: none;">
				</label>
				<input type="hidden" name="portfolio_id" value="<%= portfolio.id %>">
				<button type="submit" class = "btn-primary btn-sm">Add Screenshot</button>
			</form>
			<br><br><br>
		<% } %>
	</div>

<% } else if(req.user) { %>
	<h2>Click here to create a new portfolio</h2>
	<a href="/student/portfolio">
	   <button  class="btn btn-default">Create New Portfolio</button>
	</a>
<% } else { %>
	<h1>This user doesn't have a portfolio</h1>
<% } %>

